@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
*{
    box-sizing: border-box;
}
html{
    font-size: 18px;
    font-family: 'Tilt Warp', cursive;
    color:blue
}
/*header text*/
.cssBayan{
    max-width:800px;
    margin:0 auto;
}
.cssBayan:hover{
    color:black;
}


.memes{
    display: none;
}
.hide-icon, .check-icon{
    display: none;
}
.memes img{
    max-width: 400px;
}

/* card 1 */
.card1-title{
    display: flex;
    justify-content: space-between;
}
.cssBayan:hover > .card1-item > .card1-title > .icons > .check-icon {
    display: block;
}
.cssBayan:hover > .card1-item > .card1-title > .icons > .hide-icon {
    display: none;
}
.card1-item:hover > .card1-title > .icons > .hide-icon {
    display: block;
}
.card1-item:hover > .card1-title > .icons > .check-icon {
    display: none;
}

.card1-item:hover .memes {
    display: block;
    text-align: center;
}
.card1-item:focus-within .memes{
    display: block;
    text-align: center;
}





/* card 3 */
.card2-title{
    display: flex;
    justify-content: space-between;
}

.cssBayan:hover > .card2-item > .card2-title > .icons > .check-icon {
    display: block;
}
.cssBayan:hover > .card2-item > .card2-title > .icons > .hide-icon {
    display: none;
}
.card2-item:hover > .card2-title > .icons > .check-icon {
    display: none;
}
.card2-item:hover > .card2-title > .icons > .hide-icon {
    display: block;
} 

.card2-item:hover .memes {
    display: block;
    text-align: center;
}
.card2-item:focus-within .memes{
    display: block;
    text-align: center;
}


/* card 3 */

.card3-title{
    display: flex;
    justify-content: space-between;
}

.cssBayan:hover > .card3-item > .card3-title > .icons > .check-icon {
    display: block;
}
.cssBayan:hover > .card3-item > .card3-title > .icons > .hide-icon {
    display: none;
}
.card3-item:hover > .card3-title > .icons > .check-icon {
    display: none;
}
.card3-item:hover > .card3-title > .icons > .hide-icon {
    display: block;
} 

.card3-item:hover .memes {
    display: block;
    text-align: center;
}
.card3-item:focus-within .memes{
    display: block;
    text-align: center;
}

/* card 4 */

.card4-title{
    display: flex;
    justify-content: space-between;
}

.cssBayan:hover > .card4-item > .card4-title > .icons > .check-icon {
    display: block;
}
.cssBayan:hover > .card4-item > .card4-title > .icons > .hide-icon {
    display: none;
}
.card4-item:hover > .card4-title > .icons > .check-icon {
    display: none;
}
.card4-item:hover > .card4-title > .icons > .hide-icon {
    display: block;
} 

.card4-item:hover .memes {
    display: block;
    text-align: center;
}
.card4-item:focus-within .memes{
    display: block;
    text-align: center;
}

/* card 5 */

.card5-title{
    display: flex;
    justify-content: space-between;
}

.cssBayan:hover > .card5-item > .card5-title > .icons > .check-icon {
    display: block;
}
.cssBayan:hover > .card5-item > .card5-title > .icons > .hide-icon {
    display: none;
}
.card5-item:hover > .card5-title > .icons > .check-icon {
    display: none;
}
.card5-item:hover > .card5-title > .icons > .hide-icon {
    display: block;
} 
.card5-item:hover .memes {
    display: block;
    text-align: center;
}
.card5-item:focus-within .memes{
    display: block;
    text-align: center;
}
